streamlit>=1.40.0

sentence-transformers>=3.0.0
torch>=2.2.0
transformers>=4.45.0

scikit-learn>=1.5.0
numpy>=1.26.0
pandas>=2.2.0

requests>=2.32.0
beautifulsoup4>=4.12.0

trafilatura>=1.12.0

newspaper3k>=0.2.8
lxml>=5.2.0
lxml_html_clean>=0.4.0

tqdm>=4.66.0